section.login h1 {
  font-size: 4rem;
}

section.login input {
  width: 99%;
  margin-bottom: 2em;
}

section.login select {
  width: 99%;
}

.btn {
  width: 100%;
  margin: 6em auto 0 auto;
  padding: 0.5em 0.7em;
  font-size: 1.5rem;
}

@media only screen and (min-width: 920px) {
  /* body {
    background-image: url("~src/assets/images/Background-1.png");
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
  } */
  /* .wrapper {
    position: relative;
  } */
  .image {
    width: 100vw;
    height: 100vh;
    position: absolute;
    z-index: -100;
    top: -1.5em;
    left: -5em;
    background-image: url("../../../assets/images/Background-1.png");
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
  }

  section.login {
    position: absolute;
    right: 0;
    max-width: 20em;
  }
}

@media only screen and (min-width: 1200px) {

  .image {
    left: calc((100vw - 1200px) / -2);
  }
}
