/* .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 20px;
}

.logo {
    font-family: 'Libre Caslon Text', serif;
    font-style: italic;
} */

